<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Loged</title>
</head>
<body>
	<h1>Usted se ha logeado correctamente</h1>
	<script src="/socket.io/socket.io.js"></script>
	<script>
	io("//localhost:3000");
	</script>
</body>
</html>